html 
    head 
        title Update 
    body
      
            form(action='/update' method="POST")
                input(type="text" placeholder="Name") 
                br
                input(type="email" placeholder="Email") 
                br
                input(type="radio" name="gender") 
                label   Male 
                input(type="radio" name="gender") 
                label   Female 
                br
                select(name="qual" id="qual") 
                    option(value="10")  10
                    option(value="12")  12
                    option(value="UG")  UG
                    option(value="PG")  PG
                br
                textarea(name="address" id="address" cols="30" rows="10") 
                br
                input(type="submit" value="Submit")